extends ./layout

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/delete-group.css')

//- Used for deleting either a category or brand
block content
  header.pg_header.cstm_clr= title

  if groupProducts.length > 0 
    //- If we still have items left in this "group"
    div.grp_dlt_err 
      h2
        span.underline Error:
        |  Please delete the following items before deleting this #{groupType}.

      ul
        each prod in groupProducts 
          li 
            a(href=prod.url_route)= prod.short_name

  else 
    //- If we don't have any products in the category
    div.flex.grp_delete_cont
      b Confirm Deletion of #{groupType}

      form(method="POST").flex.grp_delete_form
        label.flex Admin Password:
          input(type="text" name="pass" value=(undefined===pass ? "" : pass) minlength="6" required) 

        if error
          b.underline Errors were found with deletion:
            ul
              li Admin password is incorrect.
        
        div.flex 
          a(href=currGroup.url_route style="display: block; text-align:center").btn.green.cstm_btn Cancel
          button(type="submit").btn.red.cstm_btn Confirm 
