extends ./layout

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/delete-group.css')

//- Used for deleting either a category or brand
block content
  header.pg_header.cstm_clr= title

  if groupProducts.length > 0 
    //- If we still have items left in this "group"
    div.grp_dlt_err 
      h2
        span.underline Error:
        |  Please delete the following items before deleting this #{groupType}.

      ul
        each prod in groupProducts 
          li 
            a(href=prod.url_route alt=`Link to ${prod.short_name} page`)= prod.short_name

  else 
    //- If we don't have any products in the category
    div.flex.grp_delete_cont
      b Confirm Deletion of #{groupType}

      form(method="POST").flex.grp_delete_form
        label Admin Password:
          input(type="text" name="pass" minlength="6" required) 

        if error
          div(style="color: var(--error-500);")
            b.underline Errors were found with deletion:
            ul(style="padding-inline-start: 1.5rem;")
              li Admin password is incorrect.
        
        div.flex 
          a(href=currGroup.url_route alt=`Link to cancel deletion` style="display: block; text-align:center").btn.green.compressed Cancel
          button(type="submit").btn.red.compressed Confirm 
