extends layout

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/home.css')
  link(rel='stylesheet', href='/stylesheets/build/build-card.css')

block content
  div.flex.hero
    div.flex.hero-content 
      h1 Create & Share Your Builds! 
      p Have you've made a build or wanted to get into building PCs? Well 
        | this is the tool for you to show to the world your awesome PC!
      a(href="/builds/create").flex.btn.ign_a_hov.hero_btn 
        object(type="image/svg+xml" data="/images/ui/wrench.svg")
        span View the PC Builder

    img(src="/images/logo.png").hero_img

  h2.secondary_header Completed Builds

  //- Limited list of completed builds
  div.grid.builds-container 
    each build in completedBuilds
      a(href=`/builds/${build._id}`).build-card
        //- Card Header
        div.flex.card-header 
          img(src="/images/logo.png")
          span= build.author_name
        //- Card Preview
        img(src=build.thumbnail_url).thumbnail
        //- Card Content
        div.build-info
          div.build-summary 
            p.build-name= build.build_name 
            div 
              if build.components.get("CPU")
                p= build.components.get("CPU").short_name
              if build.components.get("Video Card")
                p= build.components.get("Video Card").short_name
          div.price
            p= build.price

    a(href="/builds").btn.flex.ign_a_hov.builds_btn
      object(type="image/svg+xml" data="/images/ui/pc_case.svg")
      | See All Completed Builds