extends ../layout

block extraInfo 
  link(rel='stylesheet' href='/stylesheets/category/categories.css')

block content
  header.pg_header.cstm_clr= title

  a(href="/category/create" alt="Link to create a category").ctgy_create_new Add a Category

  div.grid.ctgy_container
    each ctgy in categories 
      a(href=ctgy.url_route alt="Link to page with all products of category").btn.ign_a_hov.ctgy_btn
        img(src=ctgy.public_imgPath alt=`${ctgy.name} preview image` onerror="this.src = '/images/fallback_product.webp';").ctgy_img
        span #{ctgy.name}
