extends ../layout

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/category/category-detail.css')

block content
  header.pg_header.cstm_clr
    p= title
    p.pg_header_subText= category.description
  
  section.prod_container 
    div.table_header
      p Product Name 
      p Manufacturer 
      p Stock 
      p Price 
      p Buy
      p 

    each prod in products
      div.prod_entry
        div.flex.sel_prod 
          a(href=`/products/${prod._id}`)
            img(src=prod.image_url)
          a(href=`/products/${prod._id}`)
            | #{prod.name}

        p.prod_manufac
          span.show_mob Manufacturer
          //- TODO: Create routes for manufacturer
          a(href="/")
            | #{prod.brand.name}

        p.prod_stock
          span.show_mob Stock 
          | #{prod.stock}

        p.prod_price 
          span.show_mob Price
          | $#{prod.price}

        a(href=prod.buy_link target="_blank").btn.flex.ign_a_hov.buy_btn
          span Buy
          object(type="image/svg+xml" data="/images/products/amazon.svg")

        form(method="POST" action=`/products/${prod._id}/add`).add_action
          input(type='text' name='prodId' value=prod._id).hidden
          input(type='text' name='ctgyId' value=category._id).hidden
          button.btn.flex.add_btn
            span Add
