extends ../layout

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/category/category-detail.css')

block content
  h1.page_header.cstm_clr= title
  
  section.prod_container 
    div.table_header
      p Product Name 
      p Manufacturer 
      p Stock 
      p Price 
      p 

    each prod in products
      div.prod_entry
        div.flex.sel_prod 
          a(href=`/products/${prod._id}`)
            img(src=prod.image_url)
          a(href=`/products/${prod._id}`)
            | #{prod.name}

        p.prod_manufac
          span.show_mob Manufacturer
          //- TODO: Create routes for manufacturer
          a(href="/")
            | #{prod.brand.name}

        p.prod_price 
          span.show_mob Price
          | $#{prod.price}

        form(method="POST" action=`/products/${prod._id}/add`).add_action
          input(type='text' name='prodId' value=prod._id).hidden
          input(type='text' name='ctgyId' value=categoryId).hidden
          button.btn.flex.add_btn
            span Add
