extends ../layout
include ./build_info_table

block extraInfo 
  link(rel='stylesheet' href='/stylesheets/build/build-detail.css')
  link(rel='stylesheet' href='/stylesheets/build/build-info-table.css')

block content
  //- Header
  header.pg_header.cstm_clr
    p= title 
    p.pg_header_subHead By #{buildInfo.author_name}
    p.pg_header_subText= buildInfo.description

  img(src=buildInfo.public_imgPath alt=`${buildInfo.build_name} preview image` onerror="this.src = '/images/fallback_pc_build.jpg';").thumbnail_img

  +build_info_table(categories, comp_list, false, false)

  p(style="align-self: flex-end; padding: 0.25rem;")
    b Total Price: 
    | #{totalPrice}

  div.flex
    a(href=`${buildInfo.url_route}/update` alt="Link to update build").btn Update Build
    a(href=`${buildInfo.url_route}/delete` alt="Link to delete build").btn Delete Build

