extends ../layout
include ./build_info_table

block extraInfo 
  link(rel='stylesheet', href='/stylesheets/build/build-detail.css')
  link(rel='stylesheet', href='/stylesheets/build/build-info-table.css')

block content
  //- Header
  header.pg_header.cstm_clr
    p= title 
    p.pg_header_subHead= author
    p.pg_header_subText= description

  img(src=thumbnail_url onerror="this.src = '/images/fallback_pc_build.jpg';").thumbnail_img

  +build_info_table(categories, comp_list, false, false)

  p(style="align-self: flex-end; padding: 0.25rem;")
    b Total Price: 
    | #{totalPrice}

  div.flex
    a(href=`/builds/${buildId}/update`).btn Update Build
    a(href=`/builds/${buildId}/delete`).btn Delete Build

