mixin build_card(buildInfo)
  a(href=buildInfo.url_route alt="Link to build detail page").flex.ign_a_hov.bld_cd
    //- Card Header
    div.flex.bld_cd_hdr
      img(src="/images/logo.png" alt="")
      span= buildInfo.author_name
    //- Card Preview
    img(src=buildInfo.public_imgPath alt=`${buildInfo.build_name} preview image` onerror="this.src = '/images/fallback_pc_build.jpg';").bld_cd_thb
    //- Card Content
    div.flex.bld_cd_bld_info
      div.bld_cd_bld_sum
        p.bld_cd_bld_nm= buildInfo.build_name 
        div 
          if buildInfo.components.get("CPU")
            p= buildInfo.components.get("CPU").short_name
          if buildInfo.components.get("Video Card")
            p= buildInfo.components.get("Video Card").short_name
      div.bld_cd_price
        p= buildInfo.price

