mixin build_info_table(categories, componentList, showSel, showRmv)
  //- Pass attributes passed to mixin
  section&attributes(attributes).bld_tb_cont
    div.bld_tb_header
      p Component
      p Selection
      p Price
      p Buy

    each ctgy in categories 
      div.bld_tb_row
        div.flex.bld_tb_row_lbl
          a(href=ctgy.url_route alt="Link to page with all products in category").bld_tb_ctgy_name= ctgy.name
          div.show_mob.bld_tb_lbl_line

        //- If we have a product
        if componentList[ctgy.name]
          div.flex.bld_tb_sel_prod 
            a(href=componentList[ctgy.name].url_route alt="Link to product detail page")
              img(src=componentList[ctgy.name].image_url alt=`${componentList[ctgy.name].short_name} product image` onerror="this.src = '/images/fallback_product.webp';")
            a(href=componentList[ctgy.name].url_route alt="Link to product detail page")
              | #{componentList[ctgy.name].short_name}

          p.bld_tb_prod_price 
            span.show_mob Price
            | $#{componentList[ctgy.name].price}

          div.flex.bld_tb_prod_actions
            a(href=componentList[ctgy.name].buy_link target="_blank" alt="Link to Amazon page for product").btn.green.flex.bld_tb_buy_btn
              span.show_mob Buy
              object(type="image/svg+xml" data="/images/products/amazon.svg" alt="Amazon logo")

            if showRmv 
              form(method="POST" action="/builds/create/deleteComponent").bld_tb_rmv_form
                input(type='text' name='ctgyId' value=ctgy._id).hide
                button.btn.flex.bld_tb_rmv_btn
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" /></svg>
                  span.show_mob Remove

        //- If we don't have a product
        else 
          if showSel 
            a(href=ctgy.url_route alt="Link to page with all products in category").btn.ign_a_hov.bld_tb_sel_btn
              | + Choose a #{ctgy.name}
            span.bld_tb_no_edit_rpl —
          else
            span.bld_tb_no_sel —