mixin build_card(buildInfo)
  a(href=`/builds/${buildInfo._id}`).flex.ign_a_hov.build-card
    //- Card Header
    div.flex.card-header 
      img(src="/images/logo.png")
      span= buildInfo.author_name
    //- Card Preview
    img(src=buildInfo.thumbnail_url onerror="this.src = '/images/fallback_pc_build.jpg';").thumbnail
    //- Card Content
    div.flex.build-info
      div.build-summary 
        p.build-name= buildInfo.build_name 
        div 
          if buildInfo.components.get("CPU")
            p= buildInfo.components.get("CPU").short_name
          if buildInfo.components.get("Video Card")
            p= buildInfo.components.get("Video Card").short_name
      div.price
        p= buildInfo.price

