extends ../layout

block extraInfo
  link(rel='stylesheet', href='/stylesheets/product/product-detail.css')

block content
  header.pg_header.cstm_clr= title 
  
  main.flex.prod_detail_pg 
    img(src=prodInfo.image_url).prod_img

    div.flex
      form(method="POST" action=`/products/${prodInfo._id}/add`)
        input(type='text' name='prodId' value=prodInfo._id).hide
        input(type='text' name='ctgyId' value=prodInfo.category._id).hide
        button(type="submit").btn.addProduct Add

      a(href=prodInfo.buy_link target="_blank").btn.green.flex.ign_a_hov.buy_btn
        span Buy
        object(type="image/svg+xml" data="/images/products/amazon.svg")

    div.grid.info_container 
      aside.prod_info
        div
          p Category 
          a(href=`/category/${prodInfo.category._id}`)= prodInfo.category.name
        div
          p Manufacturer 
          a(href=`/brands/${prodInfo.brand._id}`)= prodInfo.brand.name
        div
          p Price 
          p $#{prodInfo.price}
        div
          p Stock 
          p= prodInfo.stock

      div.specs
        h2 Features
        for feat in prodInfo.features
          p.feature #{feat.feature}: #{feat.description}

    //- TODO: Add fucntionality to these buttons
    div.flex.prod_actions
      a.btn Update Product
      a.btn Delete Product